<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Cajero</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarClientDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cliente
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarClientDropdown">
          <a class="dropdown-item" routerLink="clients">Clientes</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="clients/register">Registrar</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbarAccountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cuenta
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarAccountDropdown">
          <a class="dropdown-item" href="accounts">Cuentas Bancarias</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="accounts/register">Registra Cuenta Bancaria</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbarTransactionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Transacciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarTrsansactionDropdown">
          <a class="dropdown-item" routerLink="transactions">Transacciones</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"routerLink="transactions/register">Realizar Transaccion</a>
        </div>
      </li>
    </ul>
  </div>
</nav>